@using Nancy
@inherits MultiRando.Web.Core.Helpers.RazorViewBase<dynamic>

<button data-bind="click: addInterest" class="pull-right"><i class="fa fa-plus"></i></button>
<h2>@Res("Res.Page.Map.Interests")</h2>
<div class="row" data-bind="with: editedInterest">
    <h3>@Res("Res.Page.Map.Impassable")</h3>
    <!-- ko foreach: $root.Map.activityFlags -->
    <div class="checkbox">
        <label data-bind="click: function(){ $parent.ActivityFlag.toggleFlag(val); }">
            <i class="fa" data-bind="css: $parent.ActivityFlag.hasFlag(val) ? 'fa-check-square-o' : 'fa-square-o'"></i>
            <span data-bind="res : 'Res.Page.Map.Interests.activityFlags.' + key"></span>
        </label>
    </div>
    <!-- /ko -->
    <div class="checkbox">
        <label data-bind="click: function(){ ActivityFlag.toggleFlag(ActivityFlags.Private); }">
            <i class="fa" data-bind="css: ActivityFlag.hasFlag(ActivityFlags.Private) ? 'fa-check-square-o' : 'fa-square-o'"></i>
            <span data-bind="res : 'Res.Page.Map.Interests.activityFlags.Private' "></span>
        </label>
    </div>


    <h3>@Res("Res.Page.Map.Difficulty")</h3>
    <div class="form-group">
        <label class="col-lg-4 control-label">@Res("Res.Page.Map.Interests.Mudding")</label>
        <div class="col-lg-8">
            <div class="form-control-static">
                <span style=" font-size: 24px;" data-bind="starRating : Mudding"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">@Res("Res.Page.Map.Interests.Elevation")</label>
        <div class="col-lg-8">
            <div class="form-control-static">
                <span style=" font-size: 24px;" data-bind="starRating : Elevation"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">@Res("Res.Page.Map.Interests.Scree")</label>
        <div class="col-lg-8">
            <div class="form-control-static">
                <span style=" font-size: 24px;" data-bind="starRating : Scree"></span>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <button class="btn btn-block btn-default" data-bind="click: $parent.cancelInterest">
            @Res("Res.Page.Map.Interests.CancelButton")
        </button>
    </div>
    <div class="col-xs-6">
        <button class="btn btn-block btn-primary" data-bind="click: $parent.saveInterest">
            @Res("Res.Page.Map.Interests.SaveButton")
        </button>
    </div>
</div>