@using Nancy
@inherits MultiRando.Web.Core.Helpers.RazorViewBase<dynamic>

<!-- ko with: selectedSegment() -->
<h2>@Res("Res.Page.Map.Segment.Edit.Title")</h2>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-lg-6 control-label">@Res("Res.Page.Map.Creator")</label>
            <div class="col-lg-6">
                <div class="form-control-static">
                    <span data-bind="text : CreatorDisplayName"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-lg-6 control-label">@Res("Res.Page.Map.CreationDate")</label>
            <div class="col-lg-6">
                <div class="form-control-static">
                    <span data-bind="date : CreationDate"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="checkbox">
    <label data-bind="click: function(){ IsPrivate(!IsPrivate()); }">
        <i class="fa" data-bind="css: IsPrivate() ? 'fa-check-square-o' : 'fa-square-o'"></i>
        <span>@Res("Res.Page.Map.IsPrivate")</span>
    </label>
</div>
<div class="checkbox">
    <label data-bind="click: function(){ NoWay(!NoWay()); }">
        <i class="fa" data-bind="css: NoWay() ? 'fa-check-square-o' : 'fa-square-o'"></i>
        <span>@Res("Res.Page.Map.NoWay")</span>
    </label>
</div>
<div class="checkbox">
    <label data-bind="click: function(){ IsRoad(!IsRoad()); }">
        <i class="fa" data-bind="css: IsRoad() ? 'fa-check-square-o' : 'fa-square-o'"></i>
        <span>@Res("Res.Page.Map.IsRoad")</span>
    </label>
</div>


<h3>@Res("Res.Page.Map.NoWayFor")</h3>
<!-- ko foreach: $root.Map.activityFlags -->
<div class="checkbox">
    <label data-bind="click: function(){ $parent.ActivityFlag.toggleFlag(val); }">
        <i class="fa" data-bind="css: $parent.ActivityFlag.hasFlag(val) ? 'fa-check-square-o' : 'fa-square-o'"></i>
        <span data-bind="res : 'Res.Page.Map.ActivityFlags.' + key"></span>
    </label>
</div>
<!-- /ko -->


<h3>@Res("Res.Page.Map.Difficulty")</h3>
<div class="form-group">
    <label class="col-lg-4 control-label">@Res("Res.Page.Map.Mudding")</label>
    <div class="col-lg-8">
        <div class="form-control-static">
            <span style=" font-size: 24px;" data-bind="starRating : Mudding"></span>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-4 control-label">@Res("Res.Page.Map.Elevation")</label>
    <div class="col-lg-8">
        <div class="form-control-static">
            <span style=" font-size: 24px;" data-bind="starRating : Elevation"></span>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-4 control-label">@Res("Res.Page.Map.Scree")</label>
    <div class="col-lg-8">
        <div class="form-control-static">
            <span style="font-size: 24px;" data-bind="starRating : Scree"></span>
        </div>
    </div>
</div>

<div class="pull-right">
    <button class="btn btn-default" data-bind="click: $parent.cancelSegment">@Res("Res.Std.Cancel")</button>
    <button class="btn btn-primary" data-bind="click: $parent.saveSegment">@Res("Res.Std.Save")</button>
</div>
<button class="btn btn-danger" data-bind="click: $parent.deleteSegment">@Res("Res.Std.Delete")</button>
<button class="btn" data-bind="click: function(){ isCut(!isCut()); }, css : isCut() ? 'btn-success' : 'btn-default'">@Res("Res.Std.Cut")</button>

<!-- /ko -->