@using Nancy
@inherits MultiRando.Web.Core.Helpers.RazorViewBase<dynamic>

<!-- ko with: selectedSegment() -->
<h2>@Res("Res.Page.Map.Segment.Edit.Title")</h2>

<div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
        <button class="btn btn-primary" data-bind="click: $parent.saveSegment">@Res("Res.Std.Save")</button>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-primary" title="@Res("Res.Page.Map.SaveAndContinue.Tooltip")" data-bind="click: $parent.saveSegmentAndContinue">@Res("Res.Page.Map.SaveAndContinue")</button>
    </div>
</div>

<div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
        <button class="btn btn-default" data-bind="click: $parent.cancelSegment">@Res("Res.Std.Cancel")</button>
    </div>
    <div class="btn-group" role="group">
            <button class="btn" title="@Res("Res.Page.Map.Cut.Tooltip")" data-bind="click: function(){ isCut(!isCut()); }, css : isCut() ? 'btn-success' : 'btn-default'">@Res("Res.Page.Map.Cut")</button>
    </div>
</div>
<div class="checkbox">
    <label data-bind="click: function(){ IsPrivate(!IsPrivate()); }">
        <i class="fa" data-bind="css: IsPrivate() ? 'fa-check-square-o' : 'fa-square-o'"></i>
        <span>@Res("Res.Page.Map.IsPrivate")</span>
    </label>
</div>
<div class="checkbox">
    <label data-bind="click: function(){ NoWay(!NoWay()); }">
        <i class="fa" data-bind="css: NoWay() ? 'fa-check-square-o' : 'fa-square-o'"></i>
        <span>@Res("Res.Page.Map.NoWay")</span>
    </label>
</div>
<div class="checkbox">
    <label data-bind="click: function(){ IsRoad(!IsRoad()); }">
        <i class="fa" data-bind="css: IsRoad() ? 'fa-check-square-o' : 'fa-square-o'"></i>
        <span>@Res("Res.Page.Map.IsRoad")</span>
    </label>
</div>


<h3>@Res("Res.Page.Map.NoWayFor")</h3>
<!-- ko foreach: $root.Map.activityFlags -->
<div class="checkbox">
    <label data-bind="click: function(){ $parent.ActivityFlag.toggleFlag(val); }">
        <i class="fa" data-bind="css: $parent.ActivityFlag.hasFlag(val) ? 'fa-check-square-o' : 'fa-square-o'"></i>
        <span data-bind="res : 'Res.Page.Map.ActivityFlags.' + key"></span>
    </label>
</div>
<!-- /ko -->


<h3>@Res("Res.Page.Map.Difficulty")</h3>
<div class="form-group">
    <label class="col-lg-3 control-label">@Res("Res.Page.Map.Mudding")</label>
    <div class="col-lg-9">
        <div class="form-control-static">
            <span  data-bind="starRating : Mudding"></span>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label">@Res("Res.Page.Map.Elevation")</label>
    <div class="col-lg-9">
        <div class="form-control-static">
            <span  data-bind="starRating : Elevation"></span>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label">@Res("Res.Page.Map.Scree")</label>
    <div class="col-lg-9">
        <div class="form-control-static">
            <span  data-bind="starRating : Scree"></span>
        </div>
    </div>
</div>


<div>
    <br /><span>@Res("Res.Page.Map.Creator") <span data-bind="text: CreatorDisplayName"></span></span>
    <br /><span>@Res("Res.Page.Map.CreationDate") <span data-bind="date: CreationDate"></span></span>
    <br /><span>@Res("Res.Page.Map.SegmentId") <span data-bind="text: SegmentId"></span></span>
</div>



<button class="btn btn-danger" data-bind="click: $parent.deleteSegment">@Res("Res.Std.Delete")</button>

<!-- /ko -->