@* Generator: MvcHelper *@
@inherits MultiRando.Web.Core.Helpers.RazorViewBase<dynamic>
@{
    Layout = "Views/Shared/_LayoutDefault.cshtml";
    Reference("~/ScriptsApp/app/map/MapController.js");
}

<div class="container-fluid" data-bind="inject : map.MapController">
    <div class="row" data-bind="with: Map">
        <div class="col-xs-3" data-bind="event : { dragover: dragInOut, dragleave: dragInOut }, style : { height : pageHeight() + 'px' }">
            <div style="margin-top: 22px;" class="pull-right">

                <button class="btn btn-default" title="@Res("Res.Page.Map.AddSegment.Tooltip")" data-bind="click: addSegment">
                    <i class="fa fa-random"></i>
                    <sup class="fa fa-plus"></sup>
                </button>
                <button class="btn btn-default" title="@Res("Res.Page.Map.AddInterest.Tooltip")" data-bind="click: addInterest">
                    <i class="fa fa-map-marker"></i>
                    <sup class="fa fa-plus"></sup>
                </button>
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default">
                    <i class="fa fa-cog"></i>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                    <li>
                        <a href="#">Action</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">@Res("Res.Page.Map.CurrentActivity")</li>
                    <!-- ko foreach: ep.toKeyValues(ActivityFlags) -->
                    <li data-bind="css: { disabled : $parent.currentActivity() == val }">
                        <a href="#" data-bind="click: function(){ $parent.currentActivity(val); }">
                            <span data-bind="text: ep.res('Res.Page.Map.Interests.activityFlags.' + key)"></span>
                        </a>
                    </li>
                    <!-- /ko -->
                </ul>

            </div>
            <div class="clearfix"></div>
            @Html.Partial("Views/Map/_SegmentsEdit")
            @Html.Partial("Views/Map/_Routes")
            @Html.Partial("Views/Map/_Tracks")
        </div>
        <div class="col-xs-9">
            <div id="map-canvas" style="width: 100%; height: 500px" data-bind="style: { height : pageHeight() - 5 + 'px' }"></div>
        </div>


        <input type="file" id="gpxInput" data-bind="event: { change: gpxInputChange }"
               style="position: fixed; z-index: -2; opacity: 0;"/>
    </div>
</div>

<script type="text/html" id="interest-details">
    @Html.Partial("Views/Map/_InterestDetails")
</script>